@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content{
    position: relative;
}
.content h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}
.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        clip-path: polygon(0 52%, 12% 46%, 25% 42%, 40% 50%, 56% 61%, 74% 64%, 89% 61%, 100% 50%, 100% 95%, 0% 95%);
    }
    50%{
        clip-path: polygon(0 56%, 10% 62%, 23% 64%, 39% 64%, 54% 58%, 68% 47%, 84% 45%, 99% 52%, 100% 95%, 0% 95%);
    }
}









